.h1{
    color: rgb(132, 132, 245)
    font-family: 'Times New Roman';
    font-size: 30px;
}
.form{
    background-color: rgb(132, 132, 245)
}
label{
    color: white;
    padding-left: 38px;
}
.div{
    padding-left: 35px;
    padding-right: 35px;
}
.bar{
    font-size: 17px;
     width: 300px;
    
}
.male{
    color: white;
    font-size: 16px;
}
.div2{
    padding-left: 20px;
}
.bar2{
    
    height: 22px;
    width: 300px;
}
.male{
    color: white;
}
p{
    color: white;
    padding-left: 210px;
}
button{
    border-radius: 6px;
}